{% extends 'base.html' %}
{% load static %}
{% block title %}Reset Password Confirm{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row ">
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Reset password  successfully !!!</h3><br><br>
            <div>
                <img src="{% static 'images/true.png' %}" width="300" height="200"  class="giphy-embed" ></img>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}